<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>File:</strong>
  <%= link_to 'View File', @person.file %>
  <%= link_to 'Download File', @person.file, download: '' %>
</p>



<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
